.MainTable{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    border: 1px solid black;
}

Table{
    margin-right: 5%;
}


.buttonDiv{
    display:flex;
    justify-content: space-between;
    gap:1%;
    margin-top:1%;

}

.buttonDiv>p{
    font-size: 1.9vw;
    font-weight:500;
}



